body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-content: center;
}


.hero-section {
    display: block;
    width: 100%;
    align-content: center;
    text-align: center;
}

.title-and-search {
    text-align: center;
}

.hero-section form {
    display: flex;
    justify-content: center;
}


.navigation {
    margin-top: 1rem;
    text-align: center;
}

#search {
    font-size: 1.75rem;
    padding-right: 1rem;
}

.hero-section button {
    font-size: 2rem;
}

.hero-section button:hover {
    cursor: pointer;
}



.navigation a {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
}

nav a:hover {
    color: #EB5080;
}


.footer {
    position: fixed;
    bottom: 1rem;
    width: 100%;
    text-align: center;
    color: #fff;
}


@media only screen and (max-width: 27.19rem) {
    #search {
        font-size: 1rem;
        padding-right: 1rem;
    }

    .hero-section button {
        font-size: 1rem;
    }

}